.home {
    display: flex;
    background-color: rgba(1, 1, 6, 0.371)
    
    
    
}

.color-nav{
   background-color:  rgb(205, 87, 87);
   height: 10vw;
}

.productContainer {
    display: flex;
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.filters {
    background-color: rgb(205, 87, 87);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
  }

.totalpage {
    background-color: rgb(205, 87, 87);
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px; 
    height: 80vh;
}

.carttitle {
    font-size: 30px;
}

.title {
    font-size: medium;
    padding-top: 80px;
}

.filters > span {
    padding-bottom: 20px;
}



.title {
    font-size: 30px;
}

.products {
    width: 30%;
    margin: 10px;
}

.cartitem {
    display: flex;
    background-color: white;
    font-variant: initial;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
    margin: 10px;

}

.main-footer {
    background-color:  #cd5757;
    bottom: 50rem;
    padding-top: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    bottom: 5px;
    width: 100%; 
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 15px;
  }

  .totalpage > span {
    width: 30%;
    padding-right: 5px;
    margin: 0px;
  }

  .title {
    font-size: 20px !important;
  }

  .productContainer {
    width: 70%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}